<!DOCTYPE html>

  <html>

    <head>
      <h1>Senderbots Craigslist Crawler</h1>
      <h3><p>Instructions: Go to Craigslist and create your search, in any category. Copy the URL and paste it below.</p></h3>

      <script  src= "/bootstrap/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap.css"/>
    </head>

    <body>
      <form action="/" method="post">
        Search Parameters URL:
        <input type="text" name="search_url"/>
        Name:
        <input type="text" name="user_name"/>
        Email:
        <input type="text" name="user_email"/>
        <input type="submit" name="send" value="Submit"/>
      </form>
      <div>

      </div>

      <div>
        <img src = "http://www.toycollector.com/hwdphotos/originals/107/1561/EaselbackRobot.jpg" width = "350" height= "600" align = "center"/>
      </div>
      <script type="text/javascript" src="./control/javascript/senderbots.js" ></script>

    </body>

  </html>